{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "none",
  "printWidth": 160,
  "importOrder": ["^react(/.*)?$", "<THIRD_PARTY_MODULES>", "^(@api|@pages|@widgets|@shared|@store|@hooks|@utils|@styles)(/.*|$)", "^[./|~/]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
